<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 550px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table{
			margin-top: 20px;
		}
		.form-control {
			margin-top: 20px;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
				$scope.app = "Lista Telefonica";
				$scope.contatos = [
					{nome: "Contabilidade", telefone: "3822-5015"},
					{nome: "Pizzaria", telefone: "3821-5511"},
					{nome: "UFVJM", telefone: "3822-0005"}
				];
				$scope.adicionarContato = function (contato) {
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				}
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<tr ng-repeat="contato in contatos">
				<td ng-repeat="(key,value) in contato ">
					{{value}}
				</td>
			</tr>
		</table>
		<hr/>
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="nome" />
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="telefone" />
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
	</div>
</body>
</html>