<div class="jumbotron">	
	<h4>{{app6}}</h4>
	
		<input class="form-control" type="text" ng-model="funcionario.nome" placeholder="Nome" />
		<input class="form-control" type="text" ng-model="funcionario.cpf" placeholder="CPF" ui-cpf/>
		<input class="form-control" type="text" ng-model="funcionario.dataNascimento" placeholder="Data de Nascimento"/>
		<input class="form-control" type="text" ng-model="funcionario.login" placeholder="Login"/>
		<input class="form-control" type="password" ng-model="funcionario.senha" placeholder="Senha"/>
		<button class="btn btn-primary" ng-click="adicionarFuncionarios(funcionario)" ng-disabled="!funcionario.nome || !funcionario.cpf || !funcionario.dataNascimento || !funcionario.login || !funcionario.senha">Adicionar Funcionario</button>
		<a class="btn btn-success" href="#/funcionarios">Listar Funcionarios</a>
	
</div>