<div class="jumbotron">
	<h4>{{app2}}</h4>
	<table class="table">
		<tr>
			<th></th>
			<th>Razão Social</th>
			<th>CNPJ</th>
			<th>Inscrição Estadual</th>
			<th>Data de Abertura</th>
			<th>Estado</th>
			<th>Cidade</th>
			<th>Telefone</th>
		</tr>
		<tr ng-class="{selecionado: empresa.selecionado}" ng-repeat="empresa in empresas">
			<td><input type="checkbox" ng-model="empresa.selecionado"/></td>
			<td>{{empresa.razaoSocial}}</td>
			<td>{{empresa.cnpj}}</td>
			<td>{{empresa.inscricaoEstadual}}</td>
			<td>{{empresa.dataAbertura}}</td>
			<td>{{empresa.estado | uppercase | limitTo: 2}}</td>
			<td>{{empresa.cidade}}</td>
			<td>{{empresa.telefone}}</td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-success" href="#/addEmpresas">Nova Empresa</a>
	<button class="btn btn-danger" ng-click="apagarEmpresas(empresas)" ng-disabled="!isEmpresaSelecionado(empresas)" >Apagar Empresa</button>
</div>