<!DOCTYPE html>
<html ng-app="controleVEF">
<head>
	<meta charset="UTF-8">
	<title>Controlle Veiculos, Empresa e Funcionarios</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="lib/css/style.css">
	<script src="js/app.js"></script>
	<script src="js/controllers/controleVEFCtrl.js"></script>
</head>
<body>
	<div class="container" ng-controller="controleVEFCtrl">
		<div class="jumbotron">
			<h4>{{app1}}</h4>
			<input class="form-control" type="text" ng-model="buscaVeiculos" placeholder="Digite a placa para pesquisar...">
			<table class="table">
				<tr>
					<th></th>
					<th>Placa</th>
					<th>Ano</th>
					<th>Chassi</th>
					<th>Data Cadastro</th>
					<th>Modelo</th>
					<th>Preco</th>
				</tr>
				<tr ng-class="{selecionado: veiculo.selecionado}" ng-repeat="veiculo in veiculos | filter:{placa: buscaVeiculos} | orderBy: 'placa'">
					<!--  -->
					<td><input type="checkbox" ng-model="veiculo.selecionado"/></td>
					<td>{{veiculo.placa }}</td>
					<td>{{veiculo.ano  | date: 'yyyy' }}</td> <!-- -->
					<td>{{veiculo.chassi}}</td>
					<td>{{veiculo.dataCadastro | date: 'dd/MM/yyyy' }}</td> <!-- | date: 'dd/MM/yyyy'} -->
					<td>{{veiculo.modelo }}</td>
					<td>{{veiculo.preco | currency }}</td> <!--   -->
				</tr>
			</table>
			<hr/>
			<form name="veiculosForm">
				<input class="form-control" type="text" ng-model="veiculo.placa" name="placa" placeholder="Digite a placa no formato AAA-9999"  />
				<input class="form-control" type="text" ng-model="veiculo.ano" placeholder="Ano"/>
				<input class="form-control" type="number" ng-model="veiculo.chassi" placeholder="Chassi"/>
				<input class="form-control" type="date" ng-model="veiculo.dataCadastro" placeholder="Data"/>
				<input class="form-control" type="text" ng-model="veiculo.modelo" placeholder="Modelo"/>
				<input class="form-control" type="number" ng-model="veiculo.preco" placeholder="Preço"/>
				<button class="btn btn-primary" ng-click="adicionarVeiculos(veiculo)" ng-disabled="!veiculo.placa || !veiculo.ano || !veiculo.chassi || !veiculo.dataCadastro || !veiculo.modelo || !veiculo.preco">Adicionar Veiculos</button> <!--  -->
				<button class="btn btn-danger" ng-click="apagarVeiculos(veiculos)" ng-disabled="!isVeiculoSelecionado(veiculos)" >Apagar Veiculos</button> <!--  -->
			</form>

			<div ng-messages="veiculosForm.placa.$error">
				
			</div>
		</div>
		<div class="jumbotron">
			<h4 ng-bind="app2"></h4>
			<table class="table">
				<tr>
					<th></th>
					<th>Razão Social</th>
					<th>CNPJ</th>
					<th>Inscrição Estadual</th>
					<th>Data de Abertura</th>
					<th>Estado</th>
					<th>Cidade</th>
					<th>Telefone</th>
				</tr>
				<tr ng-class="{selecionado: empresa.selecionado}" ng-repeat="empresa in empresas">
					<td><input type="checkbox" ng-model="empresa.selecionado"/></td>
					<td>{{empresa.razaoSocial}}</td>
					<td>{{empresa.cnpj}}</td>
					<td>{{empresa.inscricaoEstadual}}</td>
					<td>{{empresa.dataAbertura}}</td>
					<td>{{empresa.estado | uppercase | limitTo: 2}}</td>
					<td>{{empresa.cidade}}</td>
					<td>{{empresa.telefone}}</td>
				</tr>
			</table>
			<hr/>
			<input class="form-control" type="text" ng-model="empresa.razaoSocial" placeholder="Razão Social" />
			<input class="form-control" type="text" ng-model="empresa.cnpj" placeholder="CNPJ"/>
			<input class="form-control" type="text" ng-model="empresa.inscricaoEstadual" placeholder="Inscricao Estadual"/>
			<input class="form-control" type="text" ng-model="empresa.dataAbertura" placeholder="Data de Abertura"/>
			<input class="form-control" type="text" ng-model="empresa.estado" placeholder="Estado"/>
			<input class="form-control" type="text" ng-model="empresa.cidade" placeholder="Cidade"/>
			<input class="form-control" type="text" ng-model="empresa.telefone" placeholder="Telefone"/>
			<button class="btn btn-primary" ng-click="adicionarEmpresas(empresa)" ng-disabled="!empresa.razaoSocial || !empresa.cnpj || !empresa.inscricaoEstadual || !empresa.dataAbertura || !empresa.estado || !empresa.cidade || !empresa.telefone">Adicionar Empresa</button>
			<button class="btn btn-danger" ng-click="apagarEmpresas(empresas)" ng-disabled="!isEmpresaSelecionado(empresas)" >Apagar Empresa</button>
		</div>
		<div class="jumbotron">
			<h4 ng-bind="app3"></h4>
			<input class="form-control" type="text" ng-model="buscaFuncionarios" placeholder="Digite para pesquisar...">
			<table class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th>CPF</th>
					<th>Data de Nascimento</th>
					<th>Login</th>
					<th>Senha</th>
				</tr>
				<tr ng-class="{selecionado: funcionario.selecionado}" ng-repeat="funcionario in funcionarios | filter: buscaFuncionarios | orderBy:criterioOrdenacao:direcaoOrdenacao | limitTo: 5">
					<td><input type="checkbox" ng-model="funcionario.selecionado"/></td>
					<td>{{funcionario.nome | uppercase}}</td>
					<td>{{funcionario.cpf}}</td>
					<td>{{funcionario.dataNascimento}}</td>
					<td>{{funcionario.login | lowercase}}</td>
					<td>{{funcionario.senha}}</td>
				</tr>	
			</table>
			<hr/>
			<input class="form-control" type="text" ng-model="funcionario.nome" placeholder="Nome" />
			<input class="form-control" type="text" ng-model="funcionario.cpf" placeholder="CPF"/>
			<input class="form-control" type="text" ng-model="funcionario.dataNascimento" placeholder="Data de Nascimento"/>
			<input class="form-control" type="text" ng-model="funcionario.login" placeholder="Login"/>
			<input class="form-control" type="password" ng-model="funcionario.senha" placeholder="Senha"/>
			<button class="btn btn-primary" ng-click="adicionarFuncionario(funcionario)" ng-disabled="!funcionario.nome || !funcionario.cpf || !funcionario.dataNascimento || !funcionario.login || !funcionario.senha">Adicionar Funcionario</button>
			<button class="btn btn-danger" ng-click="apagarFuncionario(funcionarios)" ng-disabled="!isFuncionarioSelecionado(funcionarios)" >Apagar Funcionario</button>
		</div>
	</div>
	<!-- <div ng-include="'view/footer.html'">por John Pereira</div> -->
</body>
</html>