<!DOCTYPE html>
<html ng-app="controleVEF">
<head>
	<meta charset="UTF-8">
	<title>Controlle Veiculos, Empresa e Funcionarios</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="lib/css/style.css">
	<script>
		angular.module("controleVEF", ["ngMessages"]);
		angular.module("controleVEF").controller("controleVEFCtrl", 
			function ($scope) {
				$scope.app1 = "Veiculos";
				$scope.app2 = "Empresas";
				$scope.app3 = "Funcionarios";


				$scope.veiculos = [
					{placa: "MPQ-1622", ano: new Date(), chassi: "52293448763", dataCadastro: "05/07/2019", modelo: "Engesa 4.0 Diesel", preco: 22000},
					{placa: "MYX-1042", ano: new Date(), chassi: "88570140289", dataCadastro: "05/07/2019", modelo: "Buggy  1.6 8V 58cv", preco: 22000}
				];
				$scope.adicionarVeiculos = function ( veiculo ) {
					$scope.veiculos.push(angular.copy(veiculo));
					delete $scope.veiculo;
				}; 
				$scope.apagarVeiculos = function (veiculos){
					$scope.veiculos = veiculos.filter(function(veiculo){
						if (!veiculo.selecionado) return veiculo;
					});
				}; 
				$scope.isVeiculoSelecionado = function (veiculos) {
					return veiculos.some(function(veiculo){
						return veiculo.selecionado;
					});
				};


				$scope.empresas = [
					{razaoSocial: "Sorveteria Arco Iris", cnpj: "29.166.295/0001-52", inscricaoEstadual: "52293448763", dataAbertura: "20/07/2019", estado: "MG", cidade: "Ipatinga", telefone: "3822-5015"},
					{razaoSocial: "JD Contabilidade", cnpj: "31.771.465/0001-70", inscricaoEstadual: "88570140289", dataAbertura: "20/07/2019", estado: "MG", cidade: "Ipatinga", telefone: "3822-5015"}
				];
				$scope.adicionarEmpresas = function ( empresa ) {
					$scope.empresas.push(angular.copy(empresa));
					delete $scope.empresa;
				};
				$scope.apagarEmpresas = function (empresas){
					$scope.empresas = empresas.filter(function(empresa){
						if (!empresa.selecionado) return empresa;
					});
				};
				$scope.isEmpresaSelecionado = function (empresas) {
					return empresas.some(function(empresa){
						return empresa.selecionado;
					});
				}; 


				$scope.funcionarios = [
					{nome: "John", cpf: "109.069.256-06", dataNascimento: "20/07/1990", login: "jon", senha: "123456"},
					{nome: "Ana", cpf: "696.555.522-22", dataNascimento: "21/01/1999", login: "ana", senha: "123345555"},
					{nome: "Carlos", cpf: "788.888.576-66", dataNascimento: "11/08/1985", login: "car", senha: "sdasd"},
					{nome: "Bruna", cpf: "112.212.346-99", dataNascimento: "22/11/1979", login: "brun", senha: "123qwewq456"}
				];
				$scope.adicionarFuncionario = function ( funcionario ) {
					$scope.funcionarios.push(angular.copy(funcionario));
					delete $scope.funcionario;
				};
				$scope.apagarFuncionario = function ( funcionarios ){
					$scope.funcionarios = funcionarios.filter(function(funcionario){
						if(!funcionario.selecionado) return funcionario;
					});
				};
				$scope.isFuncionarioSelecionado = function (funcionarios){
					return funcionarios.some(function(funcionario){
						return funcionario.selecionado;
					});
				};

				$scope.ordenarPor = function (campo) { 
					$scope.criterioOrdenacao = campo;
					$scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
				};

			}); 
	</script>
</head>
<body>
	<div class="container" ng-controller="controleVEFCtrl">
		<div class="jumbotron">
			<h4>{{app1}}</h4>
			<input class="form-control" type="text" ng-model="buscaVeiculos" placeholder="Digite a placa para pesquisar...">
			<table class="table">
				<tr>
					<th></th>
					<th>Placa</th>
					<th>Ano</th>
					<th>Chassi</th>
					<th>Data Cadastro</th>
					<th>Modelo</th>
					<th>Preco</th>
				</tr>
				<tr ng-class="{selecionado: veiculo.selecionado}" ng-repeat="veiculo in veiculos | filter:{placa: buscaVeiculos} | orderBy: 'placa'">
					<td><input type="checkbox" ng-model="veiculo.selecionado"/></td>
					<td>{{veiculo.placa}}</td>
					<td>{{veiculo.ano | date: 'yyyy'}}</td>
					<td>{{veiculo.chassi}}</td>
					<td>{{veiculo.dataCadastro | date: 'dd/MM/yyyy'}}</td>
					<td>{{veiculo.modelo}}</td>
					<td>{{veiculo.preco  | currency}}</td>
				</tr>
			</table>
			<hr/>
			<form name="veiculosForm">
				<input class="form-control" type="text" ng-model="veiculo.placa" name="placa" placeholder="Digite a placa no formato AAA-9999"  />
				<input class="form-control" type="text" ng-model="veiculo.ano" placeholder="Ano"/>
				<input class="form-control" type="number" ng-model="veiculo.chassi" placeholder="Chassi"/>
				<input class="form-control" type="date" ng-model="veiculo.dataCadastro" placeholder="Data"/>
				<input class="form-control" type="text" ng-model="veiculo.modelo" placeholder="Modelo"/>
				<input class="form-control" type="number" ng-model="veiculo.preco" placeholder="Preço"/>
				<button class="btn btn-primary" ng-click="adicionarVeiculos(veiculo)" ng-disabled="!veiculo.placa || !veiculo.ano || !veiculo.chassi || !veiculo.dataCadastro || !veiculo.modelo || !veiculo.preco">Adicionar Veiculos</button>
				<button class="btn btn-danger" ng-click="apagarVeiculos(veiculos)" ng-disabled="!isVeiculoSelecionado(veiculos)" >Apagar Veiculos</button>
			</form>

			<div ng-messages="veiculosForm.placa.$error">
				
			</div>
		</div>
		<div class="jumbotron">
			<h4 ng-bind="app2"></h4>
			<table class="table">
				<tr>
					<th></th>
					<th>Razão Social</th>
					<th>CNPJ</th>
					<th>Inscrição Estadual</th>
					<th>Data de Abertura</th>
					<th>Estado</th>
					<th>Cidade</th>
					<th>Telefone</th>
				</tr>
				<tr ng-class="{selecionado: empresa.selecionado}" ng-repeat="empresa in empresas">
					<td><input type="checkbox" ng-model="empresa.selecionado"/></td>
					<td>{{empresa.razaoSocial}}</td>
					<td>{{empresa.cnpj}}</td>
					<td>{{empresa.inscricaoEstadual}}</td>
					<td>{{empresa.dataAbertura}}</td>
					<td>{{empresa.estado | uppercase | limitTo: 2}}</td>
					<td>{{empresa.cidade}}</td>
					<td>{{empresa.telefone}}</td>
				</tr>
			</table>
			<hr/>
			<input class="form-control" type="text" ng-model="empresa.razaoSocial" placeholder="Razão Social" />
			<input class="form-control" type="text" ng-model="empresa.cnpj" placeholder="CNPJ"/>
			<input class="form-control" type="text" ng-model="empresa.inscricaoEstadual" placeholder="Inscricao Estadual"/>
			<input class="form-control" type="text" ng-model="empresa.dataAbertura" placeholder="Data de Abertura"/>
			<input class="form-control" type="text" ng-model="empresa.estado" placeholder="Estado"/>
			<input class="form-control" type="text" ng-model="empresa.cidade" placeholder="Cidade"/>
			<input class="form-control" type="text" ng-model="empresa.telefone" placeholder="Telefone"/>
			<button class="btn btn-primary" ng-click="adicionarEmpresas(empresa)" ng-disabled="!empresa.razaoSocial || !empresa.cnpj || !empresa.inscricaoEstadual || !empresa.dataAbertura || !empresa.estado || !empresa.cidade || !empresa.telefone">Adicionar Empresa</button>
			<button class="btn btn-danger" ng-click="apagarEmpresas(empresas)" ng-disabled="!isEmpresaSelecionado(empresas)" >Apagar Empresa</button>
		</div>
		<div class="jumbotron">
			<h4 ng-bind="app3"></h4>
			<input class="form-control" type="text" ng-model="buscaFuncionarios" placeholder="Digite para pesquisar...">
			<table class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th>CPF</th>
					<th>Data de Nascimento</th>
					<th>Login</th>
					<th>Senha</th>
				</tr>
				<tr ng-class="{selecionado: funcionario.selecionado}" ng-repeat="funcionario in funcionarios | filter: buscaFuncionarios | orderBy:criterioOrdenacao:direcaoOrdenacao | limitTo: 5">
					<td><input type="checkbox" ng-model="funcionario.selecionado"/></td>
					<td>{{funcionario.nome | uppercase}}</td>
					<td>{{funcionario.cpf}}</td>
					<td>{{funcionario.dataNascimento}}</td>
					<td>{{funcionario.login | lowercase}}</td>
					<td>{{funcionario.senha}}</td>
				</tr>	
			</table>
			<hr/>
			<input class="form-control" type="text" ng-model="funcionario.nome" placeholder="Nome" />
			<input class="form-control" type="text" ng-model="funcionario.cpf" placeholder="CPF"/>
			<input class="form-control" type="text" ng-model="funcionario.dataNascimento" placeholder="Data de Nascimento"/>
			<input class="form-control" type="text" ng-model="funcionario.login" placeholder="Login"/>
			<input class="form-control" type="password" ng-model="funcionario.senha" placeholder="Senha"/>
			<button class="btn btn-primary" ng-click="adicionarFuncionario(funcionario)" ng-disabled="!funcionario.nome || !funcionario.cpf || !funcionario.dataNascimento || !funcionario.login || !funcionario.senha">Adicionar Funcionario</button>
			<button class="btn btn-danger" ng-click="apagarFuncionario(funcionarios)" ng-disabled="!isFuncionarioSelecionado(funcionarios)" >Apagar Funcionario</button>
		</div>
	</div>
</body>
</html>